<%- include('./header.ejs') %>
<div class="container-fluid" style="margin-top:129px ;">
    <div class="container shadow-lg" style="border-radius: 1rem ;">
    <div class="row">
        <h1 class=" mt-5 text-center">Do Contact</h1>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form action="/insertcontact" method="post" class="text-center">
                <input type="text" class="form-control mt-4" placeholder="Name">
                <input type="text" class="form-control mt-4" placeholder="Email">
                <input type="text" class="form-control mt-4" placeholder="Phone">
                <textarea type="text" class="form-control mt-4" placeholder="Message"></textarea>
                <button class="btn mt-4" style="background:#1c527297 ; color: white; border: 0; padding:  12px 26px;">Send Message</button>
            </form>
            <br>
        
        </div>
    </div>
   </div>
   </div>
<%- include('./footer.ejs') %>
