<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <footer class="text-center text-lg-start bg-light text-muted mt-5">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom bg-secondary">
            <!-- <div class="me-5 d-none d-lg-block">
                <span class="text-white">Get connected with us on social networks:</span>
            </div> -->
            <div class="me-5 d-none d-lg-block">
                <span class="text-white">Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
    
            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fa-brands fa-square-facebook" style="color: blue;"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fa-brands fa-instagram" style="color: rgb(255, 0, 204);"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fa-brands fa-google" style="color: red;"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin" style="color: rgb(72, 144, 244);"></i>
                </a>
    
            </div>
        </section>
    
    
        <section class="">
            <div class="container text-center text-md-start mt-5 ">
        
                <div class="row mt-3">
                    
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Education Mster System
                        </h6>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis dignissimos quaerat amet
                            ipsum enim laborum molestiae. Consequuntur odio cumque deleniti perferendis, in atque nisi
                            vel, enim fuga iure impedit! Vel?
                        </p>
                    </div>
    
    
                    
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">Help</a>
                        </p>
                    </div>
                    
    
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                        <p><i class="fas fa-home me-3"></i> India, Madhya Pradesh, datia 475661</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            prathamsharma4341@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> 6263484247</p>
                        
                    </div>
                    
                </div>
            </div>
        </section>
    
    
        <!-- Copyright -->
        <div class="text-center p-4 bg-secondary text-white">
            © 2023 Copyright:
            <span style="color: #f80;">Design by Pratham Sharma</span>
            
        </div>
    </footer>
</body>
</html>